:root {
  --text-colour: #f6f6f6;
  --text-colour-dark: #b6b6b6;
  --text-colour-disabled: #858585;

  --background-colour: #28006A;
  --field-colour: #09001D;
  --field-border-colour: black;

  --primary-color: #CD6F07;
  --primary-border-color: #E68F03;
  --primary-highlight-color: #D97F05;
  --primary-border-highlight-color: #F29E02;
  --primary-disabled-color: #8b5d1b;
  --primary-border-disabled-color: #996c19;

  --field-highlight-colour: var(--area-light-colour);

  --area-dark-colour: #0E002A;
  --area-light-colour: #1B004A;
  
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--text-colour);
  background-color: var(--background-colour);

  padding: 0px;
  margin: 0px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0px;
  margin: 0px;

  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;

  overflow: hidden;
}

h1 {
  margin: 0.7rem 0px;
}

h2 {
  margin: 0.7rem 0px;
}

h3 {
  margin: 0.7rem 0px;
}

textarea {
  resize: none;
  width: var(--modal-width);
  height: 350px;
  background-color: var(--field-colour);
  border: 1px var(--field-border-colour);
  border-radius: 10px;
  color: var(--text-colour);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  margin-top: 5px;
}

textarea.small {
  height: 280px;
}

input {
  resize: none;
  background-color: var(--field-colour);
  border: 1px var(--field-border-colour);
  border-radius: 5px;
  color: var(--text-colour);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  padding: 5px 10px 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.number {
  text-align: right;
  padding-right: 8px;
  margin: 0px 4px;
  width: 50px;
}

button {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-border-color);
  color: var(--text-colour);
  box-shadow: none;
  border-radius: 10px;
}

button:hover {
  background-color: var(--primary-highlight-color);
  border-color: var(--primary-border-highlight-color);
}

button:disabled {
  background-color: var(--primary-disabled-color);
  border-color: var(--primary-border-disabled-color);
  color: var(--text-colour-disabled);
}

table {
  column-gap: 0px;
  background-color: var(--area-dark-colour);
  border-radius: 10px;
  padding: 3px;
}

table tbody {
  background-color: var(--area-light-colour);
}

table tbody p {
  margin: 3px 0px;
}

table tbody input {
  width: 100%;
}

table th {
  text-align: left;
  padding: 0px 10px;
}

table th:nth-of-type(3),table th:nth-of-type(4) {
  white-space: nowrap;
}

table td:first-of-type {
  text-align: center;
}

table td:nth-of-type(2) {
  width: 99%;
  padding: 0px 10px;
}

table td:nth-of-type(3),table td:nth-of-type(4) {
	white-space: nowrap;
	padding: 0px 8px;
}

button.blank {
  background-color: transparent;
  color: var(--text-colour);
  border: none;
  box-shadow: none;
}

button.table-button {
  background-color: transparent;
  color: var(--text-colour);
  border: none;
  box-shadow: none;
}

table.settings {
  border: none;
  background-color: transparent;
  border-radius: 0px;
  padding: 0px;
  margin: 5px 0px;
}

table.settings tr > td:first-of-type {
  white-space: nowrap;
  text-align: left;
}

table.settings tr > td:last-of-type {
  text-align: right;
  align-items: end;
  width: 99%;
}

table.settings input:not([type="number"]):not([type="checkbox"]) {
  width: calc(100% - 50px);
}

table.blank {
  border: none;
  background-color: transparent;
  border-radius: 0px;
  padding: 0px;
  margin-bottom: 15px;
}

table.blank.left-align tr > td:first-of-type {
  align-items: start;
  text-align: start;
}

table.blank tr {
  margin: 3px 0px;
}

table.blank tr > td:first-of-type {
  white-space: nowrap;
  text-align: left;
}

table.blank tr > td:last-of-type {
  text-align: right;
  align-items: end;
}

.align-right {
  text-align: right;
  padding-right: 10px;
}

.tab-button {
  background-color: var(--area-light-colour);
  color: var(--text-colour);
  border: none;
  box-shadow: none;
  margin: 10px 2px 3px;
}

.tab-button:hover {
  background-color: #260063;
}

.tab-button-disabled {
  background-color: #070016;
  color: var(--text-colour);
  border: none;
  box-shadow: none;
  margin: 10px 2px 3px;
}

.tab-button button,.tab-button-disabled button {
  background-color: transparent;
  color: var(--text-colour);
  border: none;
  box-shadow: none;
  white-space: nowrap;
  text-align: left;
  padding: 3px 5px;
  margin: 0px;
}

.tab-button button:first-of-type,.tab-button-disabled button:first-of-type {
  margin-right: 2px;
}

svg.fill-colour {
  fill: var(--text-colour);
}

svg.stroke-colour {
  stroke: var(--text-colour);
}

.no-scroll {
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

.scroll-x {
  overflow-y: hidden;
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
}

.overlay-colour {
  background-color: #0B0028C0;
}

.stretch {
  width: 100%;
  height: 100%;
}

.stretch-height {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center-main-axis {
  justify-content: center;
}

.end-main-axis {
  justify-content: end;
}

.center-cross-axis {
  align-items: center;
}

.flex-grow-1 {
  flex: 1;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.menu-bar {
  background-color: #070016;
  padding: 3px 0px;
}

.menu-content {
  background-color: var(--background-colour);
  padding: 0px 15px;
}

.menu-content button {
  border: none;
  border-radius: 0px;
  background-color: transparent;
  color: var(--text-colour);
  text-align: left;
  width: 100%;
  margin: 3px 0px;
  padding: 4px 5px;
}

.menu-content button:hover {
  background-color: #16003D;
}

.menu-content button:disabled {
  background-color: transparent;
  color: #858585;
}

.tab-bar {
  background-color: #070016;
  padding: 0px;
}

.tab-content {
  padding: 10px 20px;
}

.button-row {
  margin-top: 10px;
}

.button-row button:first-of-type:not(:last-of-type) {
  margin-right: 2px;
}

.button-row button:last-of-type:not(:first-of-type) {
  margin-left: 2px;
}

.button-row button:not(:first-of-type):not(:last-of-type) {
  margin: 0px 2px;
}

.modal {
  --modal-width: 310px;
  width: fit-content;
  min-height: fit-content;
  max-height: 100vh;
  max-height: 100dvh;
  background-color: var(--background-colour);
  border-radius: 20px;
  padding: 10px;
  overflow: none;
}

.modal-full {
  background-color: var(--background-colour);
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
}

.modal-full .content {
  padding: 10px;
  flex: 1;
}

.modal p.restrict-width {
  width: var(--modal-width);
}

.modal p,.modal-full p {
  margin: 0px;
}

.heading {
  text-align: center;
}

.table-name {
  margin: 10px 0px;
  padding: 0px;
  font-size: 20px;
}

input.table-name {
  padding: 3px 10px;
}

.pointer {
  cursor: pointer;
}

.vert-margin {
  margin: 10px 0px;
  padding: 10px 0px;
}

.hor-margin {
  margin: 0px 8px;
}

.table-style {
  border: 1px solid var(--area-dark-colour);
  background-color: var(--area-dark-colour);
  border-radius: 10px;
  padding: 0px 3px;
}

.table-style .content {
  background-color: var(--area-light-colour);
  margin: 0px 5px 10px;
}

.table-style .content > * {
  margin: 2px 0px;
}

.select {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.select .content {
  align-items: center;
  background-color: var(--field-colour);
  border: 1px solid var(--field-border-colour);
  color: var(--text-colour);
  border-radius: 5px;
  margin: 0px;
  padding: 0px 5px;
  cursor: pointer;
}

.select .content p {
  margin: 0px;
  padding: 0px;
}

.select .content svg {
  margin: 0px;
  padding: 0px;
}

.select .content:focus {
  border: 1px solid white;
}

.select p {
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.select-dropdown {
  z-index: 100;
  background-color: var(--field-colour);
  border: 1px solid var(--field-border-colour);
  color: var(--text-colour);
  position: absolute;
  left: 0px;
  width: 100%;
}

.select-dropdown > div {
  cursor: pointer;
}

.select-dropdown p {
  text-align: left;
}

.select-dropdown > div:hover {
  background-color: var(--field-highlight-colour);
}

.small-top-padding {
  padding-top: 2px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #64567a;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: var(--text-colour);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

/* input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
} */

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}