:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #28006A;

  padding: 0px;
  margin: 0px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0px;
  margin: 0px;

  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;

  overflow: hidden;
}

h1 {
  margin: 0.7rem 0px;
}

h2 {
  margin: 0.7rem 0px;
}

h3 {
  margin: 0.7rem 0px;
}

textarea {
  resize: none;
  width: var(--modal-width);
  height: 350px;
  background-color: #09001D;
  border: 1px solid black;
  border-radius: 10px;
  color: #f6f6f6;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  margin-top: 5px;
}

input {
  resize: none;
  background-color: #09001D;
  border: 1px solid black;
  border-radius: 5px;
  color: #f6f6f6;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

button {
  background-color: #CD6F07;
  border: 2px solid #E68F03;
  color: #f6f6f6;
  box-shadow: none;
  border-radius: 10px;
}

button:hover {
  background-color: #D97F05;
  border-color: #F29E02;
}

button:disabled {
  background-color: #8b5d1b;
  border-color: #996c19;
  color: #858585;
}

table {
  border: 1px solid #0E002A;
  background-color: #0E002A;
  border-radius: 10px;
  padding: 3px;
}

.align-right {
  text-align: right;
  padding-right: 10px;
}

table tbody {
  background-color: #1B004A;
}

table th {
  text-align: left;
}

table th:first-of-type {
  padding: 0px 10px;
}

table td:first-of-type {
  text-align: center;
}

table td:last-of-type {
  width: 99%;
}

button.blank {
  background-color: transparent;
  color: #f6f6f6;
  border: none;
  box-shadow: none;
}

table.blank {
  border: none;
  background-color: transparent;
  border-radius: 0px;
  padding: 0px;
  margin-bottom: 15px;
}

table.blank tr {
  margin: 3px 0px;
}

table.blank tr > td:first-of-type {
  white-space: nowrap;
  text-align: left;
}

table.blank tr > td:last-of-type {
  text-align: right;
  align-items: end;
}

.tab-button {
  background-color: #1B004A;
  color: #f6f6f6;
  border: none;
  box-shadow: none;
  margin: 10px 2px 3px;
}

.tab-button:hover {
  background-color: #260063;
}

.tab-button-disabled {
  background-color: #070016;
  color: #f6f6f6;
  border: none;
  box-shadow: none;
  margin: 10px 2px 3px;
}

.tab-button button,.tab-button-disabled button {
  background-color: transparent;
  color: #f6f6f6;
  border: none;
  box-shadow: none;
  white-space: nowrap;
  text-align: left;
  padding: 3px 5px;
  margin: 0px;
}

.tab-button button:first-of-type,.tab-button-disabled button:first-of-type {
  margin-right: 2px;
}

svg.fill-colour {
  fill: #f6f6f6;
}

svg.stroke-colour {
  stroke: #f6f6f6;
}

.no-scroll {
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

.scroll-x {
  overflow-y: hidden;
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
}

.overlay-colour {
  background-color: #0B0028C0;
}

.stretch {
  width: 100%;
  height: 100%;
}

.stretch-height {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center-main-axis {
  justify-content: center;
}

.center-cross-axis {
  align-items: center;
}

.flex-grow-1 {
  flex: 1;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.menu-bar {
  background-color: #070016;
  padding: 3px 0px;
}

.menu-content {
  background-color: #28006A;
  padding: 0px 15px;
}

.tab-bar {
  background-color: #070016;
  padding: 0px;
}

.tab-content {
  padding: 10px 20px;
}

.button-row button:first-of-type:not(:last-of-type) {
  margin-right: 2px;
}

.button-row button:last-of-type:not(:first-of-type) {
  margin-left: 2px;
}

.button-row button:not(:first-of-type):not(:last-of-type) {
  margin: 0px 2px;
}

.modal {
  --modal-width: 310px;
  width: fit-content;
  min-height: fit-content;
  max-height: 100vh;
  max-height: 100dvh;
  background-color: #28006A;
  border-radius: 20px;
  padding: 10px;
  overflow: none;
}

.modal p.restrict-width {
  width: var(--modal-width);
}

.modal p {
  margin: 0px;
}

.heading {
  text-align: center;
}